/* Start Variables */
:root{
    --main-color: #f29b50;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #808080;
    --main-transation: .5s;
}
/* End Variables */
/* Start Global Rules */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
font-family: Arial, Helvetica, sans-serif;
}
a{
    color: var(--main-color);
    text-decoration: none;
    text-transform: capitalize;
}
i{
    color: var(--main-color);
}
.ul-style{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-title{
    text-align: center;
    margin: 40px auto;
}
.main-title .title{
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.main-title .line{
    display: block;
    width: 120px;
    margin: auto;
    height: 4px;
    background-color: var(--main-color);
    border-radius: 8px;
    transition: var(--main-transation);
}
.main-title .line:hover{
    width: 200px;
}
.container {
    width: 90%;
    margin: auto;
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    .container{
        width: 100%;
        padding: 0 5px;
    }
    .main-title{
        margin: 10px auto;
    }
    .main-title .title{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .main-title .line{
        width: 80px;
    }
    .main-title .line:hover{
        width: 100px;
    }
}
/* Meduim */
@media(min-width : 768px) and (max-width:991px){
    .container{
        width: 100%;
        padding: 0 10px;
    }
    .main-title{
        margin: 20px auto;
    }
}
/* End Global Rules */
/* --------- Start Header ----------- */
header .head-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .head-content .logo img{
    height: 60px;
    padding: 5px;
    padding-left: 0;
    cursor: pointer;
}
header .head-content .links .link-item{
    margin: 10px 15px;
    padding: 8px;
    font-weight: bold;
    position: relative;
}
header .head-content .links .link-item::after ,
header .head-content .links .link-item::before{
    content:"";
    border-style: solid; 
    position: absolute;
    left: 0;
    top:0; 
    transition: .2s;
}
header  .head-content .links .link-item::before{
    border-width: 0 2px;
    height: 100%; 
    width: 95%;
    transform: scale(1,0);
}
header  .head-content .links .link-item:hover:before{
    transform: scale(1,1);
}
header  .head-content .links .link-item::after{
    border-width: 2px 0;
    height: 91%; 
    width: 98%;
    transform: scale(0,1);
}
header .head-content .links .link-item:hover::after{
    transform: scale(1,1);
    transition-delay: .2s;
}
header .head-content .login i{
    margin: 10px 20px 10px 0;
    color: var(--black-color);
    cursor: pointer;
}
header .head-content .login i:hover{
    color: var(--main-color);
}
header .head-content .login button{
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    padding-right: 0;
    color: var(--white-color);
    background-color: var(--main-color);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    header .head-content .logo img{
        height: 50px;
    }
    header .head-content .links{
        display: none;
    }
    header .head-content .login i{
        margin: 10px 5px;
    }
}
/* meduim */
@media(min-width : 768px) and (max-width:991px){
    header .head-content .links .link-item{
        margin: 8px;
        padding: 0px;
    }
    header .head-content .login i{
        margin: 10px 10px 10px 0;
    }   
}
/* DROPDOWN.................................................................................................... */
.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    width: 400px;
    background-color: #00000075;
    padding: 15px;
    margin: 10px 0 0 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: var(--main-transation);
    z-index: 100;
}
.dropdown:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}
.dropdown-menu ul{
    flex-direction: column;
    align-items: start;
}
.dropdown-menu .ul-style li:first-child a {
    display: block;
    border-bottom: 2px dashed var(--main-color);
    margin-bottom: 5px
}
.dropdown-menu ul li {
    line-height: 1.5;
}
/* --------- End Header ----------- */
/* --------- Start Home ----------- */
main .home {
    height: calc(100vh - 68px);
    background-image: url(../images/home.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
main .home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
main .home .home-content h1{
    color: var(--white-color);
    padding: 10px;
    font-size: 30px;
    border-radius: 40px;
    background-color: #f29c50b3;
    text-transform: capitalize;
}
main .home .home-content button{
    width: 200px;
    padding: 15px;
    margin: 20px 120px;
    color: var(--white-color);
    background-color: #00000075;
    border-radius: 25px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transation);
}
main .home .home-content button:hover{
    background-color: var(--black-color);
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    main .home {
        height: 300px;
    }
    main .home .home-content{
        width: 200px;
    }
    main .home .home-content h1{
        padding: 10px;
        font-size: 12px;
    }
    main .home .home-content button{
        width: 100px;
        margin: 5px 45px;
        padding: 10px;
        font-size: 10px;
    }   
}
/* --------- End Home ----------- */
/* --------- Start Design ----------- */
.design .container{
    border-bottom: 1px solid #f29c5087;
    padding-bottom: 50px;
}
.design .container .our-design{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.design .container .our-design .design-content{
    width: 24%;
    cursor: pointer;
    position: relative;
}
.design .container .our-design .design-content::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #6c6c6c49;
    opacity: 0;
    visibility: hidden;
    transition: var(--main-transation);
}
.design .container .our-design .design-content:hover:after{
    opacity: 1;
    visibility: visible;
}
.design .container .our-design .design-content .desgin-img{
    height: 300px;
    margin-bottom: 15px;
}
.design .container .our-design .design-content img{
    width: 100%;
    height: 100%;
}
.design .container .our-design .design-content .design-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: capitalize;
}
.design .container .our-design .design-content .design-info{
    color: var(--gray-color);
    font-size: 16px;
    line-height: 1.2;
}
.design .container .our-design .design-content i{
    font-size: 25px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    visibility: hidden;
    opacity: 0;
    transition: var(--main-transation);
}
.design .container .our-design .design-content:hover i{
    visibility: visible;
    opacity: 1;
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    .design .container{
        padding-bottom: 0px;
    }
    .design .container .our-design{
        flex-wrap: wrap;
        flex-direction: column;
    }
    .design .container .our-design .design-content{
        width: 70%;
        margin-bottom: 5px;
    }
    .design .container .our-design .design-content i{
        right: 5px;
        bottom: 20px;
    }
}
/* Meduim */
@media(min-width : 768px) and (max-width:991px){
    .design .container .our-design{
        flex-wrap: wrap;
    }
    .design .container .our-design .design-content{
        width: calc((100% - 20px)/2);
        margin-bottom: 20px;
    }
}
/* --------- End Design ----------- */
/* --------- Start About-us ----------- */
.design .container .about-us{
    margin: 30px auto;
    display: grid;
    grid-template-columns: 50% 48%;
    gap: 2%;
}
.design .container .about-us .about-info{
    padding: 20px;
    background-color: #faa45a6b;
    position: relative;
}
.design .container .about-us .about-info .title {
    padding-left: 50px;
    margin-bottom: 20px;
}
.design .container .about-us .about-info .title i{
    position: absolute;
    top: 30px;
    left: 25px;
    font-size: 40px;
}
.design .container .about-us .about-info p{
    line-height: 1.5;
    color: var(--gray-color);
}
.design .container .about-us .about-info .lines{
    text-align: right;
    margin-top: 10px;
    margin-left: auto;
}
.design .container .about-us .about-info .lines i{
    font-size: 50px;
}
.design .container .about-us .about-img-content{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 4%;
}
.design .container .about-us .about-img{
    padding: 20px 10px;
    transition: var(--main-transation);
}
.design .container .about-us .about-img:hover{
    transform: scale(1.1);
}
.design .container .about-us .about-img-content .about-img:first-child{
    background-image: url(../images/about-1.jpg);
    background-size: cover;
    background-position: center;
}
.design .container .about-us .about-img-content .about-img:last-child{
    background-image: url(../images/about-2.jpg);
    background-size: cover;
    background-position: center;
}
.design .container .about-us .about-img p{
    color: var(--main-color);
}
.design .container .about-us .about-img h2{
    font-size: 20px;
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    .design .container .about-us{
        margin: 10px auto;
        grid-template-columns: 100% ;
        gap: 1%;
    }
    .design .container .about-us .about-info{
        width: 70%;
        margin: 20px auto;
        margin-bottom: 0px;
        padding: 5px;
    }
    .design .container .about-us .about-info .title {
        padding-left: 30px;
        margin-bottom: 5px;
    }
    .design .container .about-us .about-info .title i{
        left: 5px;
        top: 20px;
        font-size: 30px;
    }
    .design .container .about-us .about-info p{
    line-height: 1.2;
    font-size: 12px;
    }
    .design .container .about-us .about-img-content{
        height: 500px;
        width: 70%;
        grid-template-columns: 100% ;
        gap: 2%;
        margin: 30px auto;
        margin-top: 0px;
        overflow: hidden;
    } 
    .design .container .about-us .about-img{
        padding: 20px 30px;
    }
}
/* Meduim */
@media(min-width : 768px) and (max-width:991px){
    .design .container .about-us{
        grid-template-columns: 100% ;
    }
    .design .container .about-us .about-img-content{
        height: 500px;
        margin-bottom: 30px;
        overflow: hidden;
    } 
    .design .container .about-us .about-img{
        padding: 30px 20px;
    }
}
/* --------- End About-us ----------- */
/* --------- Start Shapes  ----------- */
.design .container .shapes{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 2%;
}
.design .container .shapes .shape-content{
    border-right: 1px solid var(--main-color);
}
.design .container .shapes .shape-content:last-child{
    border-right: 0;
}
.design .container .shapes .shape-content .shape-icon{
    background-image: url(../images/shape-icon.png);
    height: 50px;
    background-repeat: no-repeat;
    background-position: center  0px;
    transition: var(--main-transation);    
    cursor: pointer;
}
.design .container .shapes .shape-content .shape-icon:hover{
    background-position: center -86px;
}
.design .container .shapes .shape-content .shape-2{
    background-position: center -180px;
}
.design .container .shapes .shape-content .shape-2:hover{
    background-position: center -273px;
}
.design .container .shapes .shape-content .shape-3{
    background-position: center -366px;
}
.design .container .shapes .shape-content .shape-3:hover{
    background-position: center -455px;
}
.design .container .shapes .shape-content .shape-4{
    background-position: center -549px;
}
.design .container .shapes .shape-content .shape-4:hover{
    background-position: center -639px;
}
.design .container .shapes .shape-content .shape-5{
    background-position: center -734px;
}
.design .container .shapes .shape-content .shape-5:hover{
    background-position: center -826px;
}
.design .container .shapes .shape-content .shape-info{
    text-align: center;
    line-height: 1.5;
}
.design .container .shapes .shape-content .shape-info h3{
    font-size: 22px;
    font-weight: bold;
}
.design .container .shapes .shape-content .shape-info p{
    color: var(--gray-color);
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    .design .container .shapes{
        grid-template-columns: repeat(1 , 1fr);
        gap: 0;
        width: 30%;
        margin: 0 auto;
    }
    .design .container .shapes .shape-content{
        border-right: 0;
    }
    .design .container .shapes .shape-content{
        border-bottom: 1px solid var(--main-color);
    }
    .design .container .shapes .shape-content:last-child{
        border-bottom: 0;
    }
    .design .container .shapes .shape-content .shape-info h3{
        font-size: 14px;
    }
    .design .container .shapes .shape-content .shape-info p{
        font-size: 12px;
        margin-bottom: 10px;
    }
}
/* Meduim */
@media(min-width : 768px) and (max-width:991px){
    .design .container .shapes{
        grid-template-columns: repeat(3 , 1fr);
        grid-template-rows: repeat(2 , 1fr);
        gap: 10% 2%;
    }
    .design .container .shapes .shape-content:nth-child(3){
        border-right: 0;
    }
}
/* --------- End Shapes  ----------- */

/* ========== End  Design Section ========== */

/* --------- Start Product  ----------- */
.product .container ul{
    justify-content: center;
}
.product .container ul li.active{
    color: var(--main-color);
}
.product .container ul li{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.product .container ul li:hover{
    color: var(--main-color);
}
.product .container .our-product{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 2%;
    margin-top: 30px;
    margin-bottom: 70px;
}
.product .container .our-product .product-item .product-img{
    height: 300px;
    position: relative;
}
.product .container .our-product .product-item .product-img .product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform:scale(0,1);
    opacity: 1;
    transition: var(--main-transation);
}
.product .container .our-product .product-item .product-img:hover .product-overlay{
    transform:scale(1,1);
}
.product .container .our-product .product-item .product-img .product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.product .container .our-product .product-item .product-img img{
    width: 100%;
    height: 100%;
}
.product .container .our-product .product-item .product-info{
    position: relative;
}
.product .container .our-product .product-item .product-info h2{
    margin: 10px 0;
    text-transform: capitalize;
}
.product .container .our-product .product-item .product-info p{
    color: var(--gray-color);
    font-size: 18px;
}
.product .container .our-product .product-item .product-info i{
    margin: 10px 0;
    color: yellow;
}
.product .container .our-product .product-item button{
    position: absolute;
    top: 30%;
    right: 0%;
    padding: 15px;
    color: var(--white-color);
    background-color: #0000007d;
    border-radius: 25px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main-transation);
}
.product .container .our-product .product-item button:hover{
    background-color: var(--black-color);
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    .product .container ul li{
        font-size: 8px;
        padding: 5px;
    }
    .product .container .our-product{
        grid-template-columns: repeat(1 , 1fr);
        gap: 10px;
        width: 70%;
        margin: 5px auto;
    }
    .product .container .our-product .product-item .product-info h2{
        font-size: 18px;
        margin: 5px 0;
    }
    .product .container .our-product .product-item .product-info p{
        font-size: 15px;
    }
    .product .container .our-product .product-item .product-info i{
        margin: 5px 0;
    }
    .product .container .our-product .product-item button{
        padding: 5px;
    }
}
/* Meduim */
@media(min-width : 768px) and (max-width:991px){
    .product .container .our-product{
        grid-template-columns: repeat(2 , 1fr);
        gap: 5px 2%;
        margin: 10px 0;
    }
}
/* --------- End Product  ----------- */
/* --------- Start Footer  ----------- */
footer .content{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--main-color) ;
}
footer .content p{
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
}
footer .content i{
    font-size: 20px;
    margin-right: 5px;
    cursor: pointer;
}
/* Small */
@media(min-width : 320px) and (max-width:767px){
    footer .content{
        padding: 15px;
        flex-direction: column;
    }
    footer .content p{
        font-size: 15px;
    }
    footer .content i{
        font-size: 15px;
    }
}
/* Meduim */
@media(min-width : 768px) and (max-width:991px){
    footer .content{
        padding: 40px 0;
    }
}
/* --------- End Footer  ----------- */